<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{{ title }} - rust2prod{% endblock %}</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link href="./styles.css" rel="stylesheet" />
    {% block head %}{% endblock %}
  </head>
  <body class="h-full">
      {% block content %}
      {% endblock %}
  </body>
</html>
